@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
  --font-raleway: "Raleway", sans-serif;
  --font-family: "Inria Sans", sans-serif;
}

:root {
  --font-raleway: "Raleway", sans-serif;
  --font-family: "Inria Sans", sans-serif;
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background: #18122b;
}
#my-image {
  top: 0;
  left: 0;
  z-index: 1000;
  animation: fade-out 2s linear forwards;

  position: fixed;
  background: #18122b;
}
#my-image img {
  visibility: visible;
  width: 100%;
}
@keyframes fade-out {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

#app {
  padding: 2em;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

.logo {
  max-width: 100%;
  overflow: hidden;
  transition: all 0.4s;
}
.logo:hover {
  transform: scale(1.05, 1.05);
}

.logo img {
  width: 237px;
  height: 52px;
}

.search {
  width: 817px;
  margin: 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 1.5rem;
  border-radius: 50px;
  background: #1e1738;
  position: absolute;
  display: flex;
  box-shadow: 5px 5px 7px #1c1d1f, -5px -5px 7px #222527;
  right: 6em;
  top: 0;
}

.search input {
  flex: 1;
  left: 0;
  position: relative;
  border: none;
  padding-right: 1rem;
  outline: none;
  color: #a1a1a1;
  background: #1e1738;
  font-size: 1.5rem;
  font-weight: 500;
}

.search img {
  width: 25px;
  height: 45px;
  cursor: pointer;
}

.empty {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #f9d3b4;
}
.trending {
  color: #443c68;
  font-family: Gurajada;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 3em;
}
.fire {
  width: 50px;
  height: 40px;
}

.play {
  width: 50px;
  height: 40px;
}

.container {
  width: 100%;
  margin-top: 0rem;
  margin-bottom: 3em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-x: auto;
  white-space: normal;
}

.recomendado {
  color: #443c68;
  font-family: Gurajada;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  #app {
    padding: 3rem 2rem;
  }
  .search {
    padding: 1rem 1.75rem;
    width: 100%;
  }
  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }
}

.sectio {
  display: flex;
  width: 404%;
  padding-left: 110em;
}

@media screen and (max-width: 430px) {
  #app {
    padding: 3rem 1rem;
  }
  h1 {
    font-size: 2rem;
  }
  .container {
    margin-top: 2rem;
  }

  .logo {
    margin: 35px;
  }
  .search {
    width: 100%;
  }

  .movie {
    width: 100%;
    margin: 1rem;
  }
  .sectio {
    display: flex;
    width: 404%;
    padding-left: 110em;
  }
}

@media screen and (max-width: 600px) {
  #app {
    padding: 3rem 2rem;
  }
  .search {
    padding: 1rem 1.75rem;
    width: 100%;
    right: 0;
  }
  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }

  .logo {
    position: static;
    display: block;
    max-width: 100%;
    margin: 1rem auto;
  }

  .logo img {
    width: 70%;
    height: auto;
  }

  .recomendado {
    font-size: 24px;
    padding-top: 1rem;
  }

  .container {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    padding-left: 0;
  }

  .sectio {
    display: flex;
    width: 100%;
    padding-left: 0;

  }
}

@media screen and (max-width: 600px) {
  #app {
    padding: 2rem 1rem; /* Ajuste o padding conforme necessário */
  }
  .search {
    padding: 1rem 1.5rem; /* Ajuste o padding conforme necessário */
    width: 100%;
    right: 0;
  }
  .search input {
    font-size: 1rem;
  }

  .search img {
    width: 20px;
    height: 20px;
  }

  .logo {
    position: static;
    display: block;
    max-width: 100%;
    margin: 1rem auto;
  }

  .logo img {
    width: 70%;
    height: auto;
  }

  .recomendado {
    font-size: 24px;
    padding-top: 1rem;
  }

  .container {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    padding-left: 0;
  }

  .sectio {
    display: flex;
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: 431px) {
  #app {
    padding: 2rem 0.5rem; /* Ajuste o padding conforme necessário */
  }
  h1 {
    font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
  }
  .container {
    margin-top: 1rem; /* Ajuste a margem conforme necessário */
    display: block;
  }

  .logo {
    margin: 15px; /* Ajuste a margem conforme necessário */
  }

  .search {
    width: 100%;
    padding: 0.5rem 1rem; /* Ajuste o padding conforme necessário */
  }

  .search input {
    font-size: 0.8rem; /* Ajuste o tamanho da fonte conforme necessário */
  }

  .movie {
    width: 100%;
    margin: 0.5rem; /* Ajuste a margem conforme necessário */
  }
  .sectio {
    display: block;
    width: 100%;
    padding-left: 0;
    columns: 10px;
  }
}
